
/* 
    Created on : 2023/08/22, 22:16:38
    Change on : 2024/01/07
    Author     : Takuto Esumi
*/

/*Elements*/

body {
    background-color: #778899 !important;
    color: whitesmoke; /* 全体の文字色を青に設定 */
}

/*Class*/

/*ページタイトル*/
.page_title {
    font-size: 18px; /* 例: フォントサイズを18ピクセルに設定 */
}

/*アプリメインカラー*/
.main_color_style{
    background-color: #EEEEEE !important;
}


/*ID*/

#tree_form {
    width: 100%; /* 親要素も画面いっぱいに広げる */
    box-sizing: border-box;
}

/* テキストタイトル部分 
#tree_form .ui-inputtext {
    border: none !important;
    font-weight: bold;
    height: auto;
}*/

/* テキストエリア部分 */
#tree_form .ui-inputtextarea {
    border: none !important;
    resize: none !important;
    /*height: 100%;*/
}

#tree_form .ui-inputfield{
    /*height: auto;*/
}


/*各種ボタン*/

/*+,×ボタン*/
#tree_form .ui-button {
    width: 30px; /* 任意のサイズに調整してください */
    height: 30px; /* 任意のサイズに調整してください */
    color: whitesmoke;
    background-color:  #778899;
    border: none;/* ボーダーをなしにする */
}

/*+,×ボタン内のテキスト部分*/
#tree_form .ui-button .ui-button-text {
    /*font-size: smaller;*/
    display: flex; /* Flexbox を使用して中央寄せにする */
    align-items: center; /* 垂直方向（縦方向）中央寄せ */
    justify-content: center; /* 水平方向（横方向）中央寄せ */
    align-self: center;
    font-size: smaller;
}


