/* 
    Created on : 2023/08/22, 22:16:38
    Change on : 2024/01/07
    Author     : Takuto Esumi
*/

body {
    background-color: #778899 !important;
    color: whitesmoke; /* 全体の文字色を青に設定 */
}

/*####### TreeToggle ########*/

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-tree-toggler.ui-icon-triangle-1-s:before{
  content: "▽";
  color: #008BBB;
}
body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-tree-toggler.ui-icon-triangle-1-e:before{
  content: "▷";
  color: #008BBB;
}

/*#######################*/
body .ui-treenode-content {
    height: 30px!important;
}

body #tree_form .ui-inputtextarea{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    
    
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-tree-toggler {
    font-size: 12px;
}

/*Class*/

/*ページタイトル*/
.page_title {
    font-size: 18px; /* 例: フォントサイズを18ピクセルに設定 */
}

/*アプリメインカラー*/
.main_color_style{
    /*background-color: #EEEEEE !important;*/
}

#tree_form .ui-button-text-only .ui-button-text {
    margin: -9px auto;
    padding: 0 0 0 0;
}
/*ID*/

#tree_form {
    width: 100%; /* 親要素も画面いっぱいに広げる */
    box-sizing: border-box;
}

/* テキストエリア部分 */
#tree_form .ui-inputtextarea {
    border: none !important;
    resize: none !important;
    /*padding: 0 0 0 0;*/
}

/*各種ボタン*/

/*+,×ボタン*/
#tree_form .ui-button {
/*    width: 20px;  任意のサイズに調整してください 
    height: 20px;  任意のサイズに調整してください */
    /*border: none; ボーダーをなしにする */
}

/*+ボタン*/
#tree_form .call_blue {
    color: lightslategray;
    border-color: lightslategray;
    background-color: transparent;
}

/*×ボタン*/
#tree_form .call_red {
    color: #800000;
    border-color: #800000;
    background-color: transparent;
}

/*+,×ボタン内のテキスト部分*/
body #tree_form .ui-button .ui-button-text {
/*    font-size: smaller;
    display: flex;  Flexbox を使用して中央寄せにする 
    align-items: center;  垂直方向（縦方向）中央寄せ 
    justify-content: center;  水平方向（横方向）中央寄せ 
    */
}

body .btn  {
        /*padding: 0.6rem 1.2rem 0.5rem 0rem !important;*/
        font-size: 30px !important;
        border: none !important;
}

body .ui-button.ui-button-text-icon-left .ui-icon {
        margin: -0.5rem !important;
        left: 0.6rem !important;
}