/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2024/02/17, 15:11:28
    Author     : omos
*/
* {
    /*font-family: MS PMincho !important;*/
    font-family: SimSun !important;
    
}

#clock{

    font-size: 18px;
    color: #72C7DF;
}

.p_scrole{
    height:85vh;    
}

.color_oldred{
    color: chartreuse;
    font-size: 12px!important;
}

.header_cls{
     /*float: left;*/
    color: chartreuse;
    font-size: 14px!important;
    border: 2px solid #549DB2!important;
    background:none !important;
/*    width : 100% !important;*/
}