/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2024/02/17, 15:11:28
    Author     : omos
*/

/*#tree_form:treeBodyArea{
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(transparent 1px, #fff 1px), linear-gradient(90deg, transparent 1px, #fff 1px);
        background-size: 20px 20px;  方眼のサイズ 
    }*/