
/* 
    Created on : 2024/02/05, 18:23:54
    Author     : omos
*/
* {
    /*font-family: MS PMincho !important;*/
    font-family: SimSun !important;
    
}
#top{
    width: 100%;
}

.function_title{
    font-size:  20px!important;
    color: #72C7DF;
}

#clock{
    font-size: 18px;
    color: #72C7DF;
}


#left{
/*    width: 180px;
    */float: left;
}
#content{
    float: left;
    /*margin-left:200px;*/
    /*margin-right:50px;*/
    /*margin-bottom: 50px;*/
}
#fotter{
    position: fixed;
    /*margin-top: 40px;*/
    bottom: 0;
    right: 0 !important;
    color: #72C7DF;
}
