
/* 
    Created on : 2024/02/05, 18:23:54
    Author     : omos
*/


body {
    /*画面全体の背景色*/
    /*width: 70%;*/
    /*height: 100vh;*/
    background-color:  black;
/*    background: linear-gradient(to top, #01111E, #010C14);
    radial-gradient(#2A4A53 100%, transparent 50%);*/
}

#top{
    /*width: 100vw;*/
    height: 5vh;
}

#left{
    float: left;
    width: 15vw;
}

#content{
    float: left;
    /*height: 100vh;*/
    /*margin-left:200px;*/
    /*margin-right:50px;*/
    /*margin-bottom: 50px;*/
}

#fotter{
    position: fixed;
    bottom: 0;
    right: 0 !important;
    color: #72C7DF;
    font-size: 16px!important;
}
