
/* 
    Created on : 2024/02/05, 18:23:54
    Author     : omos
*/
* {
    font-family: Arial !important;
}
#top{
    width: 100%;
     
}
#left{
    width: 180px;
    float: left;
    margin: 0 0 0 0 ;
     /*margin-left:200px;*/
}
#content{
    /*width: 300px;*/
    margin-left:200px;
    margin-bottom: 50px;
}
#fotter{
    position: fixed;
    margin-top: 40px;
    bottom: 0;
    right: 0 !important;
    /*color: #a9a9a9;*/
}

.function_title{
    margin: 0 auto;
    font-size:  26px;
}